# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# CRASH files
sysinfo.txt

# VS/Rider/IDE files
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.pdb
*.mdb
*.opendb
*.VC.db
ExportedObj/
.consulo/
.gradle/

# Logs
*.log

# Memory captures & recordings
[Mm]emoryCaptures/
[Rr]ecordings/

# JetBrains Rider
Assets/Plugins/Editor/JetBrains*

# Build files
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app

# Crashlytics
crashlytics-build.properties

# Addressables – packed data
Assets/AddressableAssetsData/*/*.bin*

# Temporary Android StreamingAssets
Assets/StreamingAssets/aa.meta
Assets/StreamingAssets/aa/*
